exportPattern("^[[:alpha:]]+")
export("sim.spARCH")
export("qml.spARCH")
export("qml.SARspARCH")
export(".onLoad")
exportClasses("spARCH")
importFrom("Rcpp", "evalCpp")
importFrom("spdep", "moran.test", "moran.plot", "mat2listw", "cell2nb")
importFrom("Rsolnp", "solnp")
importFrom("utils", "str")
importFrom("truncnorm", "rtruncnorm")
importFrom("stats", "dnorm", "pnorm", "printCoefmat", "residuals",
             "rnorm", "runif", "sd", "qqnorm", "model.frame", "model.response", "model.matrix")
importFrom("grDevices", "dev.flush", "dev.hold", "dev.interactive",
             "devAskNewPage")
importFrom("Matrix", "crossprod", "norm", "isSymmetric")
importFrom("graphics", "par")
S3method("summary", "spARCH")
S3method("residuals", "spARCH")
S3method("fitted", "spARCH")
S3method("logLik", "spARCH")
S3method("plot", "spARCH")
S3method("print", "summary.spARCH")
S3method("print", "spARCH")
S3method("extractAIC", "spARCH")
useDynLib("spGARCH")
